.recentButtonContainer {
  display: flex;
  position: absolute;
  gap: 20px;
  top: 20%;
  right: 25%;
}

.recentButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--color-green);
  border-radius: 50px;
  padding: 10px;
  width: 50px;

  font-weight: bold;
  background-color: rgba(185, 247, 196, 0.4);
  color: white;
  cursor: pointer;
}

.clickedButton {
  background-color: var(--color-green);
}

.loading {
  display: flex;
  align-items: center;
  height: 455px;
}
