@keyframes moveRightText {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateX(70%);
  }
  80% {
    opacity: 1;
    transform: translateX(100%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes darkenBackground {
  0% {
    background-color: rgba(0, 0, 0, 0.4); /* 어두운 배경 색 */
  }
  70% {
    background-color: rgba(0, 0, 0, 0.2); /* 텍스트가 이동하는 동안 배경 유지 */
  }
  90% {
    background-color: var(--color-black); /* 애니메이션이 끝난 후 밝아진 배경 색 */
  }
}

.homeContainer {
  height: 100vh;
  animation: darkenBackground 3s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan {
  position: absolute;
  left: 100px;
  top: 40%;
  animation: moveRightText 3s linear forwards;
}

.sloganText {
  font-size: 60px;
  font-weight: bold;
  color: white;
  line-height: 150%;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.subTitle {
  font-size: 14px;
  color: white;
}

.buttonContainer {
  background-color: var(--color-green);
  display: inline-block;
  padding: 15px;
  margin: 10px;
  border-radius: 100px;
  font-weight: bold;
  color: var(--color-black);
}

.buttonContainer:hover {
  cursor: pointer;
}
