.videoBodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 90px;
}

.statusContainer {
  background-color: var(--color-lightblack);
  display: inline-block;
  padding: 15px 50px;
  border-radius: 100px;
  font-weight: bold;
  color: var(--color-white);
}

.attentionStatus {
  font-size: 205px;
}

.attentionText {
  color: white;
}

.buttonContainer {
  background-color: var(--color-green);
  display: inline-block;
  padding: 15px;
  border-radius: 100px;
  font-weight: bold;
  color: var(--color-black);
  cursor: pointer;
}
